@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .self-container {
    @apply w-full h-[60vh] flex flex-col justify-center p-0;
  }

  .mytable-container {
    @apply flex-grow items-center overflow-y-auto rounded-lg h-full shadow-lg mx-12;
  }

  .mytable {
    @apply w-full border-collapse bg-white;
  }

  .mytable-header {
    @apply sticky top-0 bg-blue-100 text-gray-700;
  }

  .mytable-row {
    @apply border-b border-gray-300 hover:bg-gray-100;
  }

  .active-row {
    @apply bg-indigo-100;
  }

  .mytable-cell {
    @apply p-3 text-left;
  }

  .link {
    @apply text-blue-500 hover:underline;
  }

  .app-container {
    @apply h-screen flex flex-col justify-between dark:bg-gray-900 transition-colors duration-300;
  }

  .app-header {
    @apply w-full py-4 px-6 bg-black shadow-lg text-white dark:bg-gray-900;
  }

  .app-header-wraper {
    @apply w-full mx-auto flex justify-between items-center px-6;
  }

  .nav-links {
    @apply space-x-6 flex items-center justify-center;
  }

  .nav-link {
    @apply hover:underline flex gap-x-1;
  }

  .page-title {
    @apply text-2xl font-bold tracking-wide;
  }

  .sub-title {
    @apply text-xl font-semibold px-5;
  }

  .main-content {
    @apply flex-1 bg-gradient-to-br from-gray-300 via-gray-500 to-gray-900 dark:from-gray-700 dark:via-gray-900 dark:to-black;
  }

  .page-message {
    @apply text-xl text-center my-6 font-bold text-gray-700 dark:text-gray-200;
  }

  .layout-wrapper {
    @apply flex items-center justify-center px-4;
  }

  .outlet-wrapper {
    @apply w-1/2 max-w-[700px];
  }

  .footer {
    @apply w-full py-4 text-white bg-black text-center text-sm dark:bg-gray-800;
  }

  .map-container {
    @apply w-[45%] h-[60vh] rounded-lg mx-12;
  }

  .back-button {
    @apply py-2 px-4 my-6 text-gray-800 bg-gray-100  rounded-sm hover:bg-gray-300 dark:text-white dark:bg-gray-400 dark:hover:bg-gray-500;
  }
}
